<header class="">
    <h1
      class=" animated rollIn mb-10 text-6xl text-center mt-20 leading-tight font-extrabold tracking-tight text-gray-900 md:text-7xl ">
      Hi! I'm Miguel <br>
  
    </h1>
    <h1
      class=" animated zoomIn mb-10 text-6xl text-center mt-10 leading-tight font-extrabold tracking-tight text-gray-900 md:text-7xl ">
      Frontend developer <br>
  
    </h1>
    <div class="animated zoomIn space-x-3 m-5 mt-9 flex justify-center items-center">
  
      <button class="px-3 py-2">
        <a href="https://github.com/MigVarona" target="_blank">Github</a>
      </button>
  
      <button class="px-3 py-2">
        <a href="https://www.linkedin.com/in/miguel-varona-555643284/" target="_blank">Linkedin</a>
      </button>
      <button class="px-3 py-2"><a
          href="https://drive.google.com/file/d/1TgyV2dACcB0lZh9PxXnEgvrlqU1M2Ax0/view?usp=sharing"
          target="_blank">Resume</a></button>
    </div>
  
  </header>