<div class="animated zoomIn bg-white py-6 sm:py-8 mt-19 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <h1
        class=" mb-12 text-3xl text-center mt-10 leading-8 font-extrabold tracking-tight text-gray-900 md:text-5xl dark:text-white">
        < me>
      </h1>
      <p class="animated zoomIn mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
        I'm a passionate developer with 20 years of experience in the photography industry. Additionally,
        I'm co-founded and served as the CEO of Film Lab business. His multifaceted background combines a
        deep understanding of Full Stack development with a successful entrepreneurial journey, I am driven by the fusion of
        technology and visual arts to create compelling and innovative
        digital experiences.
      </p>
    </div>
  </div>