<app-header></app-header>

<app-about></app-about>

<app-projects></app-projects>

<app-contact-us></app-contact-us>



<footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="flex mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
        <a href="https://github.com/MigVarona" class="flex items-center">
          <span uk-icon="github" class="text-2xl"></span>
        </a>
        <a href="https://www.linkedin.com/in/miguelvaronagallego/" class="flex items-center">
          <span uk-icon="linkedin" class="text-2xl"></span>
        </a>
      </div>
      <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
        <li>
          <a href="mailto:migvaronag@gmail.com?" class="hover:underline" id="contactLink">contact</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">Miguel Varona © 2024. All Rights
      Reserved</span>
  </div>
</footer>